* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100%;
}

header {
    font-size: 2rem;
    text-align: right;
}

nav {
    background: #1b0132;
    padding: 1rem 1rem 1rem 0;
}

nav a {
    text-decoration: none;
    padding: 1rem;
}

nav img {
    width: 5rem;
    display: none;
}

@media screen and (max-width: 375px) {

    header {
        text-align: left;
        padding: 0;
    }

    header a {
        display: block;
    }

    nav {
        padding: 0;
    }

    nav img {
        display: block;
    }

    nav a {
        display: none;
    }

    nav:hover a {
        display: block;
        background: #1b0132;
    }

}